.welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  background-color: #4a2e25;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,1px 1px 0 #000; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  color: #fff5eb;
  transition: all 2s ease-in;
  opacity: 0;
  transform: translateY(-100%);
  /* background: url('./../assets/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  overflow-x: auto;
}

.welcome.active {
  transform: translateY(0);
  opacity: 1;
}

.welcome.hide {
  top: -100%;
  opacity: 0;
}

.welcome h2 {
  font-size: 2.4rem;
  font-family: var(--sacramento);
  font-weight: 400;
}

.welcome figure {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  flex-direction: inherit;
  margin: 1rem 0;
}

.welcome figure img {
  width: 18rem;
  height: 18rem;
  /* border-radius: 50%; */
  object-fit: cover;
  /* box-shadow: var(--shadow-md); */
  /* border: 2px solid #fff; */
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 10ch;
  }
  75% {
    width: 10ch;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.welcome figure figcaption {
  font-size: var(--fontSize-heading-base);
  font-family: var(--sacramento);
  font-weight: 600;
  margin-top: 0.5rem;

  /* Added typewriter effect */
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #fff5eb;
  width: 10ch;
  animation: typing 7s steps(10, end) infinite, blink 0.7s step-end infinite;
}

.welcome p span {
  font-size: 2rem;
  margin: 1rem 0;
  display: block;
}

.welcome button {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  gap: 0.4rem;
  color: #4a2e25;
  padding: 0.5rem 1rem;
  border: none;
  transition: var(--transition-small);
  border-radius: 15px;
  cursor: pointer;
  animation: standbyEffect 4s infinite ease-in-out;
  margin-bottom: 2.5rem;
}

.welcome button:hover {
  color: #fff;
  background-color: #4a2e25;
  transform: scale(1.05);
}

@keyframes standbyEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.welcome button i {
  font-size: 1.2rem;
}

@media (max-height: 600px) {
  .welcome figure img {
    display: none;
  }
}
